<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Manager</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100 font-poppins min-h-screen flex">
  <div class="w-64 h-full shadow-md fixed top-0 left-0 overflow-auto flex-shrink-0 z-50 bg-gradient-to-r from-indigo-500 to-purple-600">
    <header class="py-4 px-4">
      <h2 class="text-xl font-bold text-white">Student Management</h2>
    </header>
    <nav class="flex flex-col space-y-4 px-4 mt-6">
      <a href="{% url 'add_student' %}" class="flex items-center px-4 py-2 rounded-md text-white hover:text-opacity-75 focus:outline-none focus:bg-gray-800 hover:bg-opacity-75">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-white" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 5a1 1 0 00-1 1v3a1 1 0 002 0v-3a1 1 0 00-1-1zM4 8a.5.5 0 01.5-.5h3a.5.5 0 010 1h-3A.5.5 0 014 8z" clip-rule="evenodd" />
        </svg>
        <span class="text-lg font-semibold">Add Student</span>
      </a>
      <a href="{% url 'student_list' %}" class="flex items-center px-4 py-2 rounded-md text-white hover:text-opacity-75 focus:outline-none focus:bg-gray-800 hover:bg-opacity-75">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 text-white" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9 2a1 1 0 000 2h11a1 1 0 000-2H9zM4 10a1 1 0 000 2h7a1 1 0 000-2H4z" />
        </svg>
        <span class="text-lg font-semibold">Student List</span>
      </a>
    </nav>
  </div>
  <div class="flex-1 px-4 py-6 ml-64">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
